* {
    -webkit-touch-callout: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: fixed;
    touch-action: none;
    -ms-touch-action: none;
    background:#333;
}


button {
    border: 1px solid #888888;
    background-color: #DEDEDE;
    color: #888888;
}

button:hover {
    background-color: #EEEEEE;
}

button:active {
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
}

#renderCanvas {
    width: 100%;
    height: 100%;
}

#fps {
    position: absolute;
    right: 20px;
    top: 5em;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 0 black;
}


#enableDebug {
    position: absolute;
    height: 28px;
    top: 10px;
    width: 120px;
    left: 50%;
    z-index: 10;
}
