@font-face {
  font-family: 'jett';
  src: url('../fonts/jett.eot');
  src: url('../fonts/jett.eot') format('embedded-opentype'),
       url('../fonts/jett.ttf') format('truetype'),
       url('../fonts/jett.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* File icons begin */
.filetree-icon {
  background-image: none !important;
  font-family: 'jett' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.filetree-icon:before {
  content: "\e907";
}
.filetree-icon.preferences:before {
  content: "\f07c";
}
.filetree-icon.searchresults:before {
  content: "\e901";
}
.filetree-icon.terminal:before {
  content: "\e6a2";
}
.filetree-icon.css:before,
.filetree-icon.scss:before,
.filetree-icon.sass:before,
.filetree-icon.less:before {
  color: #71A3B7;
  content: "\e64a";
}
.filetree-icon.html:before,
.filetree-icon.htm:before {
  color: #D28445;
  content: "\e636";
}
.filetree-icon.scala:before {
  content: "\e637";
  color: #DE3423;
}
.filetree-icon.composer:before {
  content: "\e683";
}
.filetree-icon.bower:before {
  content: "\e64d";
}
.filetree-icon.gulp:before {
  content: "\e663";
}
.filetree-icon.grunt:before {
  content: "\e64c";
}
.filetree-icon.npm:before {
  content: "\e61e";
}
.filetree-icon.go:before {
  content: "\e624";
}
.filetree-icon.swift:before {
  content: "\e655";
  color: #F05138;
}
.filetree-icon.groovy:before {
  color: #6398AA;
  content: "\e675";
}
.filetree-icon.sh:before,
.filetree-icon.makefile:before,
.filetree-icon.bat:before,
.filetree-icon.bash:before {
  color: #BABFC7;
  content: "\f0c8";
}
.filetree-icon.xml:before,
.filetree-icon.cfm:before,
.filetree-icon.rhtml:before,
.filetree-icon.smarty:before,
.filetree-icon.jsp:before,
.filetree-icon.twig:before {
  color: #D77676;
  content: "\f010";
}
.filetree-icon.php:before,
.filetree-icon.inc:before,
.filetree-icon.php5:before {
  color: #8892BF;
  content: "\e63d";
}
.filetree-icon.ejs:before,
.filetree-icon.sjs:before,
.filetree-icon.js:before {
  content: "\e64e";
}
.filetree-icon.js:before {
  color: #F6C076;
}
/* Microsoft */
.filetree-icon.vbs:before,
.filetree-icon.cs:before {
  content: "\e60c";
}
.filetree-icon.hs:before {
  content: "\e677";
  color: #999999;
}
.filetree-icon.json:before {
  color: #F6C076;
  content: "{}";
}
.filetree-icon.py:before {
  color: #F4BF75;
  content: "\e63c";
}
.filetree-icon.sql:before,
.filetree-icon.sqlserver:before,
.filetree-icon.pgsql:before {
  content: "\f096";
}
.filetree-icon.pdf:before {
  content: "\e908";
}
.filetree-icon.eot:before,
.filetree-icon.ttf:before,
.filetree-icon.woff:before {
  content: "\e915";
}
.filetree-icon.dockerfile:before {
  content: "\e6b0";
  color: #3498db;
}
.filetree-icon.pl:before {
  content: "\e669";
  color: #4E5D84;
}
.filetree-icon.zip:before,
.filetree-icon.tar:before,
.filetree-icon.gz:before {
  content: "\f013";
}
.filetree-icon.clj:before {
  color: #43D06B;
  content: "\e66a";
}
.filetree-icon.ru:before,
.filetree-icon.erb:before,
.filetree-icon.rb:before {
  color: #D14748;
  content: "\e691";
}
.filetree-icon.coffee:before {
  color: #AB7558;
  content: "\e651";
}
.filetree-icon.java:before {
  color: #EA8222;
  content: "\e638";
}
.filetree-icon.md:before {
  color: #A8BB80;
  content: "\e63e";
}
.filetree-icon.mysql:before {
  content: "\e604";
}
.filetree-icon.jpg:before,
.filetree-icon.svg:before,
.filetree-icon.jpeg:before,
.filetree-icon.png:before,
.filetree-icon.gif:before,
.filetree-icon.bmp:before {
  content: "\f012";
}
.filetree-icon.folder:before {
  content: "\e90e";
  opacity: 0.3;
}