
html,
button,
input,
select,
textarea {
    color: #222;
    font-family:sans-serif;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: #232323 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGUlEQVR42mP4//8/LxAzgDADjAEShDNANAAc5xsNlptrNAAAAABJRU5ErkJggg==) repeat 0 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: local('Cuprum'), local('Cuprum-Regular'), url(../fonts/cuprum.woff) format('woff');
}

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    src: local('Cuprum Bold'), local('Cuprum-Bold'), url(../fonts/cuprum.woff) format('woff');
}

.preloader{
    position: absolute;
    margin: -75px 0 0 -243px;
    top:0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
}

ul.progress-list{
    font-family: 'Cuprum', Arial, serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    list-style: none;
    position: absolute;
    transition: transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
}
ul.progress-list li{
    float: left;
}
ul.progress-list.small {
    width: 10100px;
    color: #828282;
    letter-spacing: 1px;
}
ul.progress-list.small li{
    width: 80px;
    font-size: 10px;
}
ul.progress-list.large {
    width: 10100px;
    color: #ffffff;
}
ul.progress-list.large li{
    width: 60px;
    font-size: 40px;
}

.counter-small-left, .counter-small-right{
    height: 12px;
    overflow: hidden;
    position: absolute;
    top: 20px;
}
.counter-small-left{
    width: 100px;
    left: 38px;
}
.counter-small-right{
    width: 260px;
    left: 300px;
}
.counter-large{
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    left: 200px;
}

.counter-arrow{
    width: 5px;
    height: 3px;
    background: url(../img/preloaderArrow.png) no-repeat;
    position: absolute;
    top: -35px;
    left: 217px;
}

.progress-bar{
    height: 15px;
    width: 0;
    background: #ccc;
    position: absolute;
    top: 80px;
    left: 217px;
    transition: width 0.2s ease-out;
    -webkit-transition: width 0.2s ease-out;
}

.progress-top-mark{
    height: 15px;
    width: 163px;
    background: #333;
    position: absolute;
    top: 80px;
    left: 217px;
}

.title-container{
    width: 300px;
    height: 17px;
    overflow: hidden;
    top: 76px;
    left: -90px;
    position: absolute;
}

.file-title{
    width: 300px;
    text-align: right;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    position: absolute;

    transition: transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
}


h1, p, a {
    font-family: 'Cuprum', Arial, serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

h1 {
    font-weight: 700;
    font-size: 125px;
    margin: 0;
    padding: 0;
}

p, ul, li {
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}