body{ font:normal 16px  "微软雅黑","Arial","MIC","Tahoma",sans-serif;color:#4c4c4c;margin:0px;padding:0px;background: #fff}
ul,ol{list-style:none;padding:0px;margin:0;}
h1, h2, h3, h4, h5, h6, form, div, p, i, img, ul, li, ol, table, tr, td, fieldset, label, legend,dt,dd,dl, em,i,button{margin:0;padding:0;}
section, article, aside, header, footer, nav, dialog, figure,figcaption {display:block;}
figure {margin:0;}
img {border:0; vertical-align: middle; max-width: 100%;}
a {text-decoration:none;text-decoration:none;cursor:pointer;outline-color:-moz-use-text-color;
    outline-style:none;outline-width:0;text-decoration:none;-moz-outline:none;outline:none;ie-dummy:expression(this.hideFocus=true);}
a:hover {text-decoration:none;cursor: pointer}
button {cursor:pointer;}
fieldset,form{ background:none; border:none; padding:0; margin:0;}
input, button{outline: none;}
i{font-style: normal;}

body,html{height: 100%;width: 100%; }

/*Floats*/
.f_l{float:left;width:auto;}
.f_r{float:right;width:auto;}
/* --------|  Clear Fix |--------- */
.clearfix:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:block;}/* Hide from IE Mac */
article{width: 100%; height: 100%; margin: 0 auto; position: relative;}
section{position: absolute; width:100%;height:100%;}

.tennis-bg{
    background: url("../img/bg_blueSky.png")no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: "Microsoft YaHei UI";
}
.content{
    width:1000px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.content .header{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 0;
}
.content .header .logo_left{
    background: url("../img/logo_left.png")no-repeat;
    background-size: 100% 100%;
    width: 111px;
    height: 46px;
}
.content .header .header-nav{
    width: 44%;
    height: 5.2631%;
    margin-right: -70px;
}
.content .header .header-nav .index,
.content .header .header-nav .rule,
.content .header .header-nav .login{
    height: 53%;
    color: white;
    text-align: center;
    padding: 2px 30px;
    box-sizing: border-box;
}
.content .header .header-nav a{
    color: white;
}
.content .header .header-nav .index.active,
.content .header .header-nav .rule.active,
.content .header .header-nav .login.active{
    height: 53%;
    background-color: #e02924;
    border-radius: 12px;
    border: 0;
}
.centerLogo{
    background: url(../img/logo_center.png)no-repeat;
    background-size: 100% 100%;
    width: 271px;
    height: 128px;
    position: absolute;
    left: 284px;
    top: 56px;
}
.gameCenter{
    background: url(../img/white_bg.png)no-repeat;
    background-size: 100% 100%;
    width: 920px;
    height: 601px;
    position: absolute;
    top: 209px;
}
/*canvas*/
.match_area{
    background: url(../img/bg_match.png)no-repeat;
    background-size: 100% 100%;
    width: 834px;
    height: 434px;
    position: absolute;
    left: 50px;
    top: 130px;
}
.right_logo{
    background: url(../img/logo_topRight.png)no-repeat;
    background-size: 100% 100%;
    width: 159px;
    height: 189px;
    position: absolute;
    right: 139px;
    top: 149px;
}
.scoreboard{
    background: url(../img/scoreboard.png)no-repeat;
    background-size: 100% 100%;
    width: 137px;
    height: 48px;
    position: absolute;
    left: 37px;
    top: 285px;
}
.user_avatar img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    left: 188px;
    top: 285px;
}
.user_data{
    width: 450px;
    height: 50px;
    position: absolute;
    left: 241px;
    top: 285px;
    padding: 14px 2px;
    box-sizing: border-box;
}
.user_data li{
    font-weight: 600;
    color: #666666;
    font-size: 14px;
    float: left;
}
.game_data{
    position: absolute;
    width: 411px;
    left: 285px;
    top: 360px;
}
.game_data  li{
    float: left;
    color: #6b781a;
    font-size: 20px;
}
.countDown{
    background: url(../img/countdown.png)no-repeat;
    background-size: 100% 100%;
    width: 28px;
    height: 28px;
}
.score{
    background: url(../img/score.png)no-repeat;
    background-size: 100% 100%;
    width: 27px;
    height: 27px;
    margin-left: 100px;
}
.copyRight{
    position: absolute;
    left: 33%;
    bottom: 2%;
}
.copyRight p{
   color: black;
   font-size: 11px;
}
.mask{
    width: 711px;
    height: 319px;
    background-color: black;
    opacity: 0.8;
    border-radius: 10px;
}
.ruletext {
    width: 711px;
    height: 319px;
    position: absolute;
    left: 11.5%;
    top: 31%;
    border-radius: 10px;
    box-sizing: border-box;
    display: none;
}
.ruletext .ruledetail{
    position: absolute;
    top: 80px;
    left: 40px;
    color: #fff;
    line-height: 2.0;
    font-size: 14px;
    margin-top: 15px;
}
.ruletext .ruletitle{
    position: absolute;
    top: 50px;
    left: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.ruletext .back{
    background: url(../img/back.png)no-repeat;
    background-size: 100% 100%;
    width: 37px;
    height: 37px;
    position: absolute;
    right: 10%;
    top: 13%;
}
.board {
    background: url("../img/board_bg.png");
    background-size: 100% 100%;
    width: 711px;
    height: 319px;
    position: absolute;
    left: 11.5%;
    top: 31%;
    box-sizing: border-box;
    display: none;
}
.board table{
    width: 100%;
    margin-top: 15px;
}
.board_th{
    width: 100%;
}
.board tr{
    width: 100%;
    text-align: center;
}
.board th {
    color: white;
    height: 36px;
    line-height: 36px;
}
.board  td{
     color: white;
     height: 51px;
     line-height: 51px;
 }

.rank,.ranking{
    width: 25%;
}
.un,.username{
    width: 50%;
}
.sc,.scoreCount{
    width: 25%;
}


